.projectCard {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, .59);
    overflow: hidden;

    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {

            h2 {
                font-size: 14px;
                font-weight: 500;
            }

            span {
                font-size: 14px;
            }
        }
    }
}