.features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0; 

    .container {
        width: 90vw;
        display: flex;
        align-items: center;
        gap: 100px;
        
        .item {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &:first-child {
                flex: 2;
            }

            &:last-child {
                flex: 3;
            }

            h1 {
                font-weight: 500;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: gray;
                line-height: 28px;
                letter-spacing: 1px;
            }

            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                font-size: 18px;
                color: gray;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            video {
                width: 650px;
               
            }
        }
    }
}