.add {
    display: flex;
    justify-content: center;

    .container {
        width: 90vw;
        padding: 50px 0px;

        h1 {
            color: gray;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .sections {
            display: flex;
            justify-content: space-between;
            gap: 100px;

            .left, .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                label {
                    color: gray;
                    font-size: 18px;
                }

                input, select, textarea {
                    padding: 20px;
                }

                .images {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .imagesInput {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }

                button {
                    border: none;
                    padding: 20px;
                    background-color: #1dbf73;
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }

                .add {
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 75%;
                    } 
                }

                .addedFeatures {
                    display: flex;
                    gap: 20px;
                    
                    button {
                        height: 30px;
                        font-size: 12px;
                        font-weight: 400;
                        background-color: transparent;
                        color: red;
                        border: 1px solid red;

                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }

            
        }
    }
}